NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbG...
SUPABASE_SERVICE_ROLE_KEY=eyJhbG...
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=tu-cloud-name
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=secret
RESEND_API_KEY=re_xxxx
NEXT_PUBLIC_BASE_URL=https://anacolonestudio.com
ADMIN_EMAIL=blanca@anacolonestudio.com
